html {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
    color: yellow;
    border: 0px solid #fff;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
}

#titulo {
    background-color: whitesmoke;
    height: 6%;
    color: grey;
    border: 10px solid #fff;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 25px;
}

#tabla-jugadores {
    background-color: orange;
    height: 6%;
    color: grey;
    border: 10px solid #fff;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 15px;
    left: 0px;
    top: 40px;
}

#datos {
    background-color: orange;
    height: auto;
    color: grey;
    border: 10px solid #fff;
    margin: 0px;
    padding: 0px;
    width: auto;
    position: absolute;
    text-align: center;
    font-size: 15px;
    left: 35%;
    top: 120px;
}

#jugadores1 {
  margin-left: 0%;
  width: 50%;
  text-align: left;
}

#jugadores2 {
  margin-right: 0%;
  width: 50%;
  text-align: right;
}

#turno {
    background-color: orange;
    height: 6%;
    color: grey;
    border: 10px solid #fff;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 25px;
    left: 0px;
    top: 90px;
}

#contenedortablero {
   background-color: whitesmoke;
    height: 330px;
    color: grey;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 25px;
    left: 0px;
    top: 150px;
}

#tablero {
    width: 90px;
    height: 90px;
    top: 5px;
    margin: 0px;
    padding: 0px;
    left: 40%;
    position: relative;

}

#ganador {
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 470px;
    position: absolute;
    background-color: orange;
    text-align: center;
    font-size: 25px;
    color: grey;
    border: 10px solid #fff;
}

#divotravez {
    width: 100%;
    height: 40px;
    border: 10px solid #aaa;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 530px;
    position: absolute;
    background-color: orange;
    color: grey;
    border: 10px solid #fff;
    text-align: center;
    font-size: 30px;
    font-stretch: bold;
    color: black;
}

.celda {
    width: 90px;
    display: block;
    border-block-style: solid;
    height: 90px;
    background-color: white;
  }

.signo{
    width: 30px;
    height: 30px;
}